*{margin: 0; padding: 0; box-sizing: border-box;}

:root{
    --primary-color: #319b3f;
    --secondary-color: #86c541;
    --text-color: #43a2d3;
    --background-color: #1e2842;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 20px;
}

.conteiner{
    /* background-color: var(--text-color); */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo-principal{
    /* color: var(--background-color); */
    font-size: 2.5rem;
    text-align: center;
    border-bottom: #fff solid 1px; 
    margin: 20px;
    /* linha 22 muda a cor da fonte
    linha 23 tamanho da fonte do titulo
    linha 24 alinha no centro 
    linha 25 cria uma borda branca sólida de 1pxl em baixo do titulo*/
}

.info-produto{
    /* background-color: #319b3f; */
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
}

.descricao-produtos{
    /* background-color: aquamarine; */
    font-size: 1.5rem;
    margin: 20px;
    display: flex;
}

.desc{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-produto{
    width: 200px;
    height: 200px;
    margin: 20px;
    
}
.title-produto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}
.descricao{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: gray;
}
.excluir{
    width: 50%;
    border: none;
    border-radius: 50px;
    color: violet;
}